/* ==========================================================================
   Buttons
   ========================================================================== */

$btn-margin:                    0 !default;
$btn-padding:                   .7em 1.5em !default;

$btn-font-size:                 1rem !default;
$btn-lineheight:                1 !default;

$btn-border:                    1px solid #333 !default;
$btn-background:                #fff !default;
$btn-background--hover:         #fff !default;

$btn-color:                     #333 !default;
$btn-color--hover:              #333 !default;

$btn--primary-border:               1px solid #2C4865 !default;
$btn--primary-background:           #2C4865 !default;
$btn--primary-color:                #fff !default;
$btn--primary-background--hover:    #2C4865 !default;
$btn--primary-color--hover:         #fff !default;

$btn--secondary-border:               1px solid #815EF4 !default;
$btn--secondary-background:           #815EF4 !default;
$btn--secondary-color:                #fff !default;
$btn--secondary-background--hover:    #815EF4 !default;
$btn--secondary-color--hover:         #fff !default;



/* General
   ========================================================================== */
.btn {
    display: inline-block;
    margin: $btn-margin;
    padding: $btn-padding;

    background: $btn-background;
    border: $btn-border;
    -webkit-appearance: none;

    font-size: $btn-font-size;
    color: $btn-color;
    text-align: center;
    text-decoration: none;
    vertical-align: middle;
    line-height: $btn-lineheight;

    cursor: pointer;
    white-space: nowrap;
    user-select: none;

    &:hover, &:focus, &:active {
        text-decoration: none;
        color: $btn-color--hover;
        background-color: $btn-background--hover;
    }

    &:active, &:focus {
        outline: 0;
    }

    &[disabled], fieldset[disabled] & {
        cursor: not-allowed;
        pointer-events: none;
        opacity: .65;
    }
}


/* Types
   ========================================================================== */
.btn--primary {
    background: $btn--primary-background;
    color: $btn--primary-color;
    border: $btn--primary-border;

    &:hover, &:focus, &:active {
        background: $btn--primary-background--hover;
        color: $btn--primary-color--hover;
    }
}

.btn--secondary {
    background: $btn--secondary-background;
    color: $btn--secondary-color;
    border: $btn--secondary-border;

    &:hover, &:focus, &:active {
        background: $btn--secondary-background--hover;
        color: $btn--secondary-color--hover;
    }
}


/* Block
   ========================================================================== */
.btn--block {
    display: block;
    width: 100%;
}
