/* ==========================================================================
   hr
   ========================================================================== */

$hr-margin:     2rem 0 !default;
$hr-border:     1px solid #ccc !default;

hr {
    margin: $hr-margin;

    border: 0;
    border-top: $hr-border;
}
