/* ==========================================================================
   Cookie consent
   ========================================================================== */

.cookie-bar {
    display: none;
}

.cookie-bar--visible {
    display: block;
}
