@import "config";


/* ==========================================================================
   Cookie consent
   ========================================================================== */

.cookie-bar {
    position: fixed;

    display: none;
    width: $cookie-bar-width;
    padding: $cookie-bar-padding;

    background-color: $cookie-bar-color;
    text-align: $cookie-bar-text-align;
    color: $cookie-bar-font-color;
    line-height: $cookie-bar-line-height;
    font: {
        family: $cookie-bar-font-family;
        size: $cookie-bar-font-size;
    }

    .cookie-bar__policy {
        color: $cookie-bar-policy-link-color;
        text-decoration: $cookie-bar-policy-link-text-decoration;
    }

    .cookie-bar__btn {
        margin: $cookie-bar-button-margin;

        border-radius: 0;
    }

    @media (min-width: 768px) {
        bottom: $cookie-bar-position-bottom;
        top: $cookie-bar-position-top;
        left: $cookie-bar-position-left;
        right: $cookie-bar-position-right;

        max-width: $cookie-bar-max-width;

        .cookie-bar__btn {
            position: absolute;
            bottom: 0;
            right: 0;
        }
    }
}

.cookie-bar--visible {
    display: block;
}
