/* ==========================================================================
   Toggle
   ========================================================================== */

/* Button
   ========================================================================== */

.toggle-btn {
	margin: 0;
	cursor: pointer;
}

.toggle-btn__icon--show {
	display: inline-block;
}

.toggle-btn__icon--hide {
	display: none;
}

.toggle-btn--active .toggle-btn__icon--show {
	display: none;
}

.toggle-btn--active .toggle-btn__icon--hide {
	display: inline-block;
}

/* Item
   ========================================================================== */

.toggle-item {
	height: 0;
	overflow: hidden;
}

.toggle-item--active {
	height: auto;
}

