/* ==========================================================================
   Animate Form Elements
   ========================================================================== */

@import "config";

/* Form group
   ========================================================================== */

.form__input-group {
    position: relative;

    margin: 3rem 0 0;
}

/* Inputs
   ========================================================================== */

.form__input {
    display: block;
    padding: .5em;

    background: transparent;

    border: 0;
    border-bottom: 1px solid rgba($border-color, .3);

    transition: all .3s ease;

    &:active,
    &:focus,
    &.form__input--active {
        outline: none;

        border-bottom-color: transparent;
        background: rgba($background-color, .1);

        & + .form__label {
            transform: translateY(-2.6rem);
            font-size: 1.2rem;
        }

        &:after {
            width: 100%;
        }
    }
}

/* Labels
   ========================================================================== */

.form__label {
    z-index: -1;

    top: 0;
    left: 0;
    position: absolute;

    display: block;
    margin: 0;
    padding: .5rem;

    transition: all .3s ease;
}
