/* ==========================================================================
   Responsive navigation
   ========================================================================== */

@import "config";
@import "fonts";
@import "navigation-big";
@import "navigation-small";

/* General
   ========================================================================== */

.navigation{
    display: block;
    position: relative;
    width: 100%;
    background: linear-gradient(45deg, lighten(#266fc4, 7%) 0%,#266fc4 100%);
    border-radius: 7px;
    border: 1px solid darken(#266fc4, 5%);
    box-shadow: inset -1px 1px 1px 0px rgba(39,140,194,1);
    ul{
        margin: 0px;
        padding: 0px;
    }
}

.navigation__btn{
    display: none;
}

.navigation__Level{
    display: block;
    width: 100%;
}

.navigation__item{
    display: block;
    float: left;
    color: #fff;
    padding: 10px 15px;

    &:hover{
        background-color: rgba(255,255,255,.2);
    }
}

.navigation__item--sublevel{
    display: block;
    list-style-type: none;
    margin: 0px;
    padding: 10px 15px;
}

.navigation__level--sublevel{
    display: none;
    width: calc(100% - 14px);
    position: absolute;
    top: 100%;
    left: 7px;
}

.navigation__level__wrapper{
    display: block;
    width: 100%;
    background: linear-gradient(135deg, #f7f7f7 0%,#ffffff 100%);
    border-radius: 0px 0px 7px 7px;
    border: 1px solid darken(#f7f7f7, 10%);
    color: #555;

    h2{
        padding: 0px 15px;
    }
}


.clearfix {
    *zoom: 1;
    &:before, &:after {
        content: "";
        display: table;
    }
    &:after {
        clear: both;
    }
}
